altgraph==0.17.4
APScheduler==3.11.0
bitarray==3.1.1
blinker==1.9.0
bottle==0.13.4
bottle-websocket==0.2.9
certauth==1.3.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
cryptography==44.0.0
digikey-api==1.1.0
Eel==0.18.2
et_xmlfile==2.0.0
filelock==3.16.1
Flask==3.1.0
Flask-Mail==0.10.0
flaskwebgui==1.1.6
future==1.0.0
fuzzywuzzy==0.18.0
gevent==25.5.1
gevent-websocket==0.10.1
greenlet==3.2.3
gunicorn==23.0.0
idna==3.10
importlib_resources==6.5.2
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.5.0
Levenshtein==0.27.1
MarkupSafe==3.0.2
mysql-connector-python==9.1.0
mysqlclient==2.2.7
nltk==3.9.1
numpy==2.2.0
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pdfminer.six==20231228
pdfplumber==0.11.5
pdfreader==0.1.15
pefile==2023.2.7
pillow==11.1.0
plyer==2.1.0
psutil==6.1.1
pycparser==2.22
pycryptodome==3.22.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pyOpenSSL==24.3.0
pyparsing==3.2.3
PyPDF2==3.0.1
pypdfium2==4.30.1
pypiwin32==223
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-Levenshtein==0.27.1
pytz==2024.2
PyVISA==1.15.0
PyVISA-py==0.8.0
pywin32==310
pywin32-ctypes==0.2.3
RapidFuzz==3.13.0
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
retrying==1.3.4
setuptools==75.6.0
six==1.17.0
SQLAlchemy==2.0.40
tkinterdnd2==0.4.3
tldextract==5.1.3
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2024.2
tzlocal==5.3.1
urllib3==2.2.3
Werkzeug==3.1.3
win10toast==0.9
xlrd==2.0.1
zope.event==5.1
zope.interface==7.2

