{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="form-card">
        <h2><i class="fa fa-unlock"></i> Forgot Password</h2>

        <form method="POST">
            <div class="input-group">
                <i class="fa fa-envelope icon"></i>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>

            <button type="submit" class="btn"><i class="fa fa-paper-plane"></i> Send Reset Link</button>
        </form>
    </div>
</div>
{% endblock %}
